<main class="view-ip">
  <app-loading *ngIf="loading"></app-loading>
  <header class="header">
    <div class="title">
      <span>IP Address Tracker</span>
    </div>
    <form [formGroup]="form" class="search">
      <div class="content-search">
        <input
          type="text"
          placeholder="Search for any IP address or domain"
          formControlName="ipAddress"
        />
        <button class="button-search" (click)="search()">
          <img src="../../../../assets/images/icon-arrow.svg" alt="" />
        </button>
      </div>
    </form>
  </header>
  <div class="data-search">
    <div class="card">
      <app-card>
        <div class="content-card">
          <app-content-card
            title="IP ADDRESS"
            [content]="geoData.ip"
          ></app-content-card>
          <div class="divider"></div>
          <app-content-card
            title="LOCATION"
            [content]="
              geoData.location.city +
              ', ' +
              geoData.location.country +
              ' ' +
              geoData.location.geonameId
            "
          ></app-content-card>
          <div class="divider"></div>
          <app-content-card
            title="TIMEZONE"
            [content]="'UTC ' + geoData.location.timezone"
          ></app-content-card>
          <div class="divider"></div>
          <app-content-card
            title="ISP"
            [content]="geoData.isp"
          ></app-content-card>
        </div>
      </app-card>
    </div>
  </div>
  <section class="content-map">
    <div id="map"></div>
  </section>
</main>
