<div class="view-ip">
  <app-loading *ngIf="loading"></app-loading>
  <header class="header">
    <div class="title">
      <span>IP Address Tracker</span>
    </div>
    <form [formGroup]="form" class="search">
      <div class="content-search">
        <input
          type="text"
          placeholder="Search for any IP address or domain"
          formControlName="ipAddress"
        />
        <button class="button-search" (click)="search()">
          <img src="../../../../assets/images/icon-arrow.svg" alt="" />
        </button>
      </div>
    </form>
  </header>
  <div class="data-search">
    <div class="card">
      <app-card>
        <div class="content-card">
          <div class="section-card">
            <span class="title">IP ADDRESS</span>
            <span class="content"> {{ geoData.ip }} </span>
          </div>
          <div class="divider"></div>
          <div class="section-card">
            <span class="title">Location</span>
            <span class="content"
              >{{ geoData.location.city }}, {{ geoData.location.country }}
              {{ geoData.location.geonameId }}
            </span>
          </div>
          <div class="divider"></div>
          <div class="section-card">
            <span class="title">Timezone</span>
            <span class="content">UTC {{ geoData.location.timezone }} </span>
          </div>
          <div class="divider"></div>
          <div class="section-card">
            <span class="title">ISP</span>
            <span class="content"> {{ geoData.isp }} </span>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  <section class="content-map">
    <div id="map"></div>
  </section>
</div>
